{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список книг</title>
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
</head>
<body>
    {% for object in object_list %}
        <div>
            <div class="card-img-top">
                <img width="150" src="{{ MEDIA_URL }}{{ object.cover }}" alt="{{ object.title}}">
            </div>
            <p class="card-block">
                <h4 class="card-title">{{ object.title }}</h4>
                <p class="card-text">{{ object.description }}</p>
            </div>
        </div>
    {% endfor %}
</body>
</html>
