{% extends 'base.html' %}

{% block title %}Список всех доступных{% endblock title %}

{% block content %}

<div class="row p-3">

    <div class="col-3">
        Left side menu
    </div>

    <div class="col-9">
        {% for object in object_list %}
            {% if forloop.first %}
            <div class="row">
            {% endif %}
                <div class="col-6 col-md-3">
                    <div class="p-3">
                        <div>
                            <img class="rounded img-fluid" src="{{ MEDIA_URL }}{{ object.cover }}" alt="{{ object.title}}">
                        </div>
                        <div>
                            <h5 class="pt-2"><a href="{% url 'books:book_detail' object.id %}">{{ object.title }}</a></h5>
                            <div>
                                <span class="text-muted">id-{{ object.id }}</span>
                            </div>
                            <ul>
                                {% for author in object.authors.all %}
                                    <li>{{ author }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
            {% endif %}
            {% if forloop.last %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock content %}
